button{
  background-color: hsla(240, 30%, 26%, .6);
  padding: 20px;
  width: fit-content;
  border-radius: 15px;
  color: antiquewhite;
  font-weight: bolder;
  margin: auto;
  border: none;
  cursor: pointer;
}
